/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-may-2017, 22:03:46
    Author     : Enmnauel Calero
*/

.label { 
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-padding: 0 0 0 10;
}


.itemContains { 
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
}
