/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-23-2017, 10:57:44 PM
    Author     : 27gma
*/
.label { 
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-padding: 0 0 0 10;
}

.tab-header-area {
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.jfx-radio-button {
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -jfx-selected-color: #0096c9;
    -jfx-unselected-color: #b3bf2d;
}

.jfx-button {		
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 16px;	
}

.jfx-button .jfx-rippler{	
    -jfx-rippler-fill: #0096c9;	
}

.button {	
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

.table-view .column-header .label {
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-alignment: center;
}

.radio-button{
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 18px;

    -jfx-selected-color: #0096c9;
    -jfx-unselected-color: #b3bf2d;
}